@charset "UTF-8";

$breakpoints: (
    "mobile": "screen and (min-width: 390px)",
    "tablet": "screen and (min-width: 768px)",
    "desktop": "screen and (min-width: 960px)",
    ) !default;

/*mixin
-------------------------*/
@mixin m-query($breakpoint) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

@mixin m-inner($w: (1340/1440)*100%, $mw: 1340px) {
    width: $w;
    max-width: $mw;
    margin-left: auto;
    margin-right: auto;
}

@mixin m-flex($a: center, $j: space-between) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $j;
    align-items: $a;
}

@function f-rem($value) {
    @return ($value/16)+rem;
}

/*philosophy
-------------------------*/
.philosophy {
    width: 100%;
    display: flex;

    &__text {
        line-height: 2;
        position: relative;
        padding: 120px 100px;
        color: #fff;
        overflow: hidden;
        z-index: 1;

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background: url(../img/rinenBg.png) no-repeat center center / cover;
            transition: filter 1s ease;
            filter: blur(0px
            );
        z-index: -1;
    }

    &.scrolled::before {
        filter: blur(6px);
    }
}

&__title {
    font-size: f-rem(32);
    margin-bottom: (60em/32);
}

&__sentence {
    font-size: f-rem(16);
    margin-bottom: (50em/16);
}
}

.philosophy__text.scrolled::before {
    filter: blur(6px);
}

.philosophy__title,
.philosophy__sentence {
    opacity: 0;
    transform: translateY(30px);
    transition: all 1s ease;
}

.philosophy__text.scrolled .philosophy__title,
.philosophy__text.scrolled .philosophy__sentence {
    opacity: 1;
    transform: translateY(0);
}

/*office
-------------------------*/
.office {}