@charset "UTF-8";

// ・スマホ版ファーストで作る！
// ・font-size:f-rem(値);　で書く！
// ・margin:(値em/font-size);

$breakpoints: (
    "mobile": "screen and (min-width: 390px)",
    "tablet": "screen and (min-width: 768px)",
    "desktop": "screen and (min-width: 960px)",
    ) !default;

/*mixin
-------------------------*/
@mixin m-query($breakpoint) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

@mixin m-inner($w: (1200/1440)*100%, $mw: 1340px) {
    width: $w;
    max-width: $mw;
    margin-left: auto;
    margin-right: auto;
}

@mixin m-flex($a: center, $j: space-between) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $j;
    align-items: $a;
}

@function f-rem($value) {
    @return ($value/16)+rem;
}

body{
    font-size: f-rem(16);
    letter-spacing: 0.15em;
    line-height: 1.7;
    color: #595959;
    font-family:Helvetica, Arial,  sans-serif;
}

// .main{
//     &__inner{
//         width: 90%;
//         margin: 0 auto;

//         @include m-inner;
//     }
// }

.content{
&__top{
    @include m-inner;
    padding-bottom: (30em/16);
}

&__category{
font-size: f-rem(14);
color: #c2c2c2;}

&__thumbnail{
    width:90%;
    aspect-ratio: 22/9;
    object-fit: cover;
}

&__text{
    font-size: f-rem(14);
display: flex;
justify-content: space-between;
padding: (80em/16) 0;

@include m-inner;
}

&__explain{
    width: 45%;
}

&__detail{
width: 25%;}
&__list{
    display: flex;
    justify-content: space-between;
}

&__right{
// text-align: right;
display: block;
}

&__picture{
    object-fit: cover;
    width: 90%;
display: flex;
}

&__flex{
width: 33.33%;
}
&__img{
margin-bottom: -10px;
width: 100%;
}

&__viewmore{
margin: (50em/16) 0;
padding: (30em/16) 0;

width: 90%;
margin-left: auto;

}
}
