@charset "UTF-8";

$breakpoints: (
    "mobile": "screen and (min-width: 390px)",
    "tablet": "screen and (min-width: 768px)",
    "desktop": "screen and (min-width: 960px)",
    ) !default;

/*mixin
-------------------------*/
@mixin m-query($breakpoint) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

@mixin m-inner($w: (1340/1440)*100%, $mw: 1340px) {
    width: $w;
    max-width: $mw;
    margin-left: auto;
    margin-right: auto;
}

@mixin m-flex($a: center, $j: space-between) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $j;
    align-items: $a;
}

@function f-rem($value) {
    @return ($value/16)+rem;
}

// profile

.profile{
      @include m-query(desktop);

    //about
    .box{
        @include m-flex(flex-end);
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
    .boxs{
    @include m-flex( );
    }

    .abouttwo{
    width: 50%;
    padding-bottom: (70em/16);
    }



    .about{
        position: relative;
        width: 50%;
        &__img{
            height: auto;
        }

        &__label{
            position: absolute;
            top: (70em/16);
            left: (20em/16);
            font-size: f-rem(18);
            transform: rotate(90deg);
        }

        &__container{
            position: absolute;
            bottom: (110em/16);
            left: (400em/16);

        }

        &__name{
            font-size: f-rem(32);
            margin-bottom: (10em/16);
        }
    }

    //career
    .career{
    padding-bottom: (100em/16);
    padding-top: (80em/16);

        &__list{
         list-style: none;
         border-left: 1px solid black;


           li{
           padding-bottom:(10em/16);

           }
        }
    }

    //awards
    .awards{
        &__list{
            list-style: none;

            li{
                padding-bottom:(10em/16);
            }
        }
    }

}


//profiles
    .profiles{
    &__container{
        @include m-flex( );
    }

}
