@charset "UTF-8";

// ・スマホ版ファーストで作る！
// ・font-size:f-rem(値);　で書く！
// ・margin:(値em/font-size);

$breakpoints: (
    "mobile": "screen and (min-width: 390px)",
    "tablet": "screen and (min-width: 768px)",
    "desktop": "screen and (min-width: 960px)",
    ) !default;

/*mixin
-------------------------*/
@mixin m-query($breakpoint) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

@mixin m-inner($w: (1100/1440)*100%, $mw: 1340px) {
    width: $w;
    max-width: $mw;
    margin-left: auto;
    margin-right: auto;
}

@mixin m-flex($a: center, $j: space-between) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $j;
    align-items: $a;
}

@function f-rem($value) {
    @return ($value/16)+rem;
}

body{
    font-size: f-rem(14);
    letter-spacing: 0.25em;
    line-height: 1.7;
}

// .main{
//     &__inner{
//         width: 90%;
//         margin: 0 auto;

//         @include m-inner;
//     }
// }

.process{
&__num{
transform: rotate(90deg);
font-size:f-rem(100);
position: relative;
left: 0;
}

    &__inner{
        width: 90%;
        margin: 0 auto;
display: flex;
        justify-content: space-between;
        @include m-inner;
    }

    &__flow{
        padding: (30em/16) 0;
        @include m-query(desktop) {
        display: flex;
        justify-content: space-between;
        }
    }

&__pic{
    padding: (30em/16);
    border-radius: 50%;
    // border: 1px #000 solid;
    border: 1px #000 solid;
    aspect-ratio: 1/1;

    @include m-query(desktop) {
    width: 35%;
    }
}

&__text{
    @include m-query(desktop) {
    width: 60%;
    margin: auto 0;
    }
}

&__title{
    font-weight: bold;
    font-size: f-rem(16);
    padding-bottom: 20px;
}
}